<!-- templates/_post_dashboard_base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title id="document_title">{% block title %}Bandcamp++{% endblock title %}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
      <div class="sticky-top">
        <div class="row">
          <nav class="navbar navbar-expand-md bg-body-tertiary pe-3 ps-3">
            <div class="container-fluid">          
                <a class="navbar-brand" href="#">Bandcamp++</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div class="me-auto">                 
                    <ul class="navbar-nav">
                      <li class="nav-item"><a id="dashboard_home_link" class="nav-link" aria-current="page">Dashboard</a></li>
                      <li class="nav-item"><a id="dashboard_profiles_link" class="nav-link" href="#">Profiles</a></li>
                      <li class="nav-item"><a class="nav-link">Labels/Bands</a></li>
                      <li class="nav-item"><a class="nav-link">Artists</a></li>
                      <li class="nav-item"><a class="nav-link">Releases</a></li>
                      <li class="nav-item"><a class="nav-link">Bins</a></li> 
                    </ul>    
                  </div>
                  <div class="ms-auto">                    
                    <ul class="navbar-nav">
                      <li class="nav-item dropdown">
                        <a id="base_profile_user" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          {{ base_profile_obj.username }}
                      <image src="{{ base_profile_img_url }}" alt="{{ base_profile_obj.username }}" width="25" height="25" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu">
                          <li><a id="dashboard_settings_link" class="dropdown-item">Settings</a></li>
                        </ul>
                      </li>              
                    </ul>    
                  </div>        
                </div>                    
            </div>
          </nav>
        </div> 
      </div>
             
        <div class="row container-fluid pt-2 pb-2 align-items-center ms-0 me-0 bg-dark-subtle">
          
          <div class="col">
            <div id="progress-bar-wrapper" class="bg-body-tertiary border border-3 rounded-4" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" data-bs-title=" ">
              <div class="progress bg-secondary" role="progressbar" id='progress-bar' aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-secondary" style="width: 0%"></div>
              </div>
            </div>              
          </div>

          <div class="col-auto pl-0 pr-0 btn-group">
            <button class="btn btn-secondary btn-sm" style="width: 70px" type="button"  id="maintaskbutton" disabled>                
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu p-2 align-items-center" style="width:200px">
              <li class="form-check form-check-reverse form-switch px-auto">
                <input class="form-check-input" type="checkbox" role="switch" id="update_profiles" checked>
                <label class="form-check-label fs-6" for="update_profiles">Fan Connections</label>
              </li>
              <li class="form-check form-check-reverse form-switch px-auto">
                <input class="form-check-input" type="checkbox" id="update_purchases" checked>
                <label class="form-check-label fs-6" for="update_purchases">My Purchases</label>
              </li>
              <li class="form-check form-check-reverse form-switch px-auto">
                <input class="form-check-input" type="checkbox" id="update_fanpurchases" checked>
                <label class="form-check-label fs-6" for="update_fanpurchases">Fans' Purchases</label>
              </li>
              <li class="form-check form-check-reverse form-switch px-auto">
                <input class="form-check-input" type="checkbox" id="update_labelartists" checked>
                <label class="form-check-label fs-6" for="update_labelartists">Label/Artists</label>
              </li>
              <li class="form-check form-check-reverse form-switch px-auto">
                <input class="form-check-input" type="checkbox" id="update_releaseowners" checked>
                <label class="form-check-label fs-6" for="update_releaseowners">Release Owners</label>
              </li>                
              <li class="btn-group d-flex" role="group" aria-label="update_button_group">
                <button class="btn btn-outline-secondary btn-sm"  id="update_all"> select all</button>          
                <button class="btn btn-outline-secondary btn-sm" id="update_none"> select none</button>
              </li>
            </ul>
          </div>
        </div>          
        
      
      
         

        <br/>
        

        
        <div class="container" id="content">
        </div>



        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- JavaScript -->
        <script src="{% static 'js/base.js' %}"></script>
    
        <script>
            let progressUrl = "{% url 'celery_progress:task_status' 'django-test-main' %}";                        
            
            let pollInterval = 1000;
            let runPressed = false;
            let abortPressed = false;
            let maintaskbutton_runmsg = 'Update';
            let maintaskbutton_abortmsg = 'Abort';
            let maintaskbutton_idlemsg = '';
            
            let progressBarElement = document.getElementById('progress-bar');
            let progressBarWrapper = document.getElementById('progress-bar-wrapper');
            let maintaskbutton = document.getElementById("maintaskbutton");
            let tooltip_init = null;
            let update_all = document.getElementById("update_all");
            let update_none = document.getElementById("update_none");

            let update_profiles = document.getElementById("update_profiles");
            let update_purchases = document.getElementById("update_purchases");
            let update_fanpurchases = document.getElementById("update_fanpurchases");
            let update_labelartists = document.getElementById("update_labelartists");
            let update_releaseowners = document.getElementById("update_releaseowners");
            
            let ajax_content_div = document.getElementById('content')
            let loading_interstitial_html = "Loading... interstitial placeholder"; // TODO: solve potential flicker?            
        
            let barColors = {
              success: '#76ce60',
              error: '#dc4f63',
              progress: '#68a9ef',
              ignored: '#7a7a7a'
            }  

            function getCookie(name) {
              let cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  const cookies = document.cookie.split(';');
                  for (let i = 0; i < cookies.length; i++) {
                      const cookie = cookies[i].trim();
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
            }

            const csrftoken = getCookie('csrftoken');
          
            function sleep(ms) {
              return new Promise(resolve => setTimeout(resolve, ms));
            };
          
            async function progressBar() {
                                    
              let ProgressSocket = new WebSocket("ws://127.0.0.1:8001/ws/progress/django-test-main/")//"ws://" + window.location.host + progressUrl);
          
              ProgressSocket.onclose = function(e) {
                console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
                setTimeout(function() {
                  progressBar();
                }, pollInterval);
              };

              ProgressSocket.onopen = function (event) {
                  ProgressSocket.send(JSON.stringify({'type': 'check_task_completion'}));
                  setMainProgressWaitingMessage();
              };
          
              const bar = this;
              ProgressSocket.onmessage = function (event) {
                let data;
                try { data = JSON.parse(event.data); } 
                  catch (parsingError) { throw parsingError; }
          
                if (data.progress) {
                  //progressBarElement.innerHTML = data.progress.percent + "%"; TODO?
                  progressBarElement.style.width = data.progress.percent + "%";
                  var description = data.progress.description || "";
                  if (data.progress.current == 0) {
                    if (data.progress.pending === true) {
                      if (!runPressed) {
                        maintaskbutton.innerText = maintaskbutton_runmsg;
                        maintaskbutton.disabled = false;
                      }                    
                    setMainProgressWaitingMessage();                    
                    } else {                      
                      maintaskbutton.innerText = maintaskbutton_idlemsg;
                      maintaskbutton.disabled = true;
                    }
                  } else {
                    if (abortPressed) {
                      maintaskbutton.innerText = maintaskbutton_runmsg;
                      maintaskbutton.disabled = false;             
                    } else {
                      maintaskbutton.innerText = maintaskbutton_abortmsg;
                      maintaskbutton.disabled = false;                      
                    }            
                  }
                };
                abortPressed = false;
                runPressed = false;
          
                if (data.complete === true) {  
                    maintaskbutton.innerText = maintaskbutton_runmsg;
                    maintaskbutton.disabled = false;
                    fetch("/progtest/reset");
                    progressBarElement.style.width = "0%";
                    setMainProgressWaitingMessage();
                };
              };
            };         
                  
            function runfun() {
              maintaskbutton.innerText = maintaskbutton_idlemsg;
              maintaskbutton.disabled = true;
              runPressed = true;
              body = {};
              body.update_profiles = document.getElementById("update_profiles").checked;
              body.update_purchases = document.getElementById("update_purchases").checked;
              body.update_fanpurchases = document.getElementById("update_fanpurchases").checked;
              body.update_labelartists = document.getElementById("update_labelartists").checked;
              body.update_releaseowners = document.getElementById("update_releaseowners").checked;
              
              fetch("/progtest/run", 
                { method: 'POST', 
                  credentials: 'same-origin',
                  headers:{
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': csrftoken,
                  },                 
                  body: JSON.stringify({'post_data': body})
                });
            };

            async function setMainProgressWaitingMessage() {              
              fetch("/dashboard/main_last_completed_date")
                      .then((response) => {
                          if (response.ok) { return response.text(); }
                      })
                      .then((last_completed_date) => {
                        locale_datetime = new Date(Date.parse(last_completed_date));                        
                        progressBarWrapper.setAttribute('data-bs-title', "<b>Last completed:</b> " + locale_datetime);
                        if (tooltip_init) {
                          tooltip_init.dispose();  
                        }                      
                        tooltip_init = new bootstrap.Tooltip(progressBarWrapper);                                               
                      }); 
            }          
            
            function abortfun() {
              maintaskbutton.innerText = maintaskbutton_idlemsg;
              maintaskbutton.disabled = true;
              abortPressed = true;
              fetch("/progtest/abort");
            };

            function run_loaded_scripts(html) {
              let parser = new DOMParser();
              let scripts = parser.parseFromString(html, 'text/html').getElementsByTagName("script");
              console.log(scripts + "test");
              for (let i = 0; i < scripts.length; i++) {
                if (scripts[i].innerText) {
                  eval(scripts[i].innerText);
                } else {
                  fetch(scripts[i].src).then(function (data) {
                    data.text().then(function (r) {
                      eval(r);
                    })
                  });              
                }
              }
            }

            async function content_ajax_update_get(ajax_content_link) {
              ajax_content_div.innerHTML = loading_interstitial_html;
              fetch(ajax_content_link)
              .then((response) => {
                  if (response.ok) { return response.text(); }
              })
              .then((html) => {
                  console.log("content_ajax_update_get");
                  ajax_content_div.innerHTML = html;
                  run_loaded_scripts(html);
              });
            };

            async function content_ajax_update_post(ajax_content_link, body) {
              ajax_content_div.innerHTML = loading_interstitial_html;              
              fetch(ajax_content_link, 
              { method: 'POST', 
                credentials: 'same-origin',
                headers:{
                  'X-Requested-With': 'XMLHttpRequest',
                  'X-CSRFToken': csrftoken,
                },                 
                body: body
              })
              .then((response) => {
                  if (response.ok) { return response.text(); }
              })
              .then((html) => {
                console.log("content_ajax_update_post");
                ajax_content_div.innerHTML = html;
                run_loaded_scripts(html);
            });
          };

            function maintaskcontrolbutton() {
              if (maintaskbutton.innerText === maintaskbutton_runmsg) {
                runfun();
              } else if (maintaskbutton.innerText === maintaskbutton_abortmsg) {
                abortfun();
              };
            };

            function check_all_updates() {
              update_profiles.checked = true;
              update_purchases.checked = true;
              update_fanpurchases.checked = true;
              update_labelartists.checked = true;
              update_releaseowners.checked = true;
            };

            function uncheck_all_updates() {
              update_profiles.checked = false;
              update_purchases.checked = false;
              update_fanpurchases.checked = false;
              update_labelartists.checked = false;
              update_releaseowners.checked = false;
            };
            
            function register_ajax_navbar_link(link_id, ajax_path, window_path) {
              document.getElementById(link_id).addEventListener("click", function () {
                console.log("clicked");
                content_ajax_update_get(ajax_path);
                document.getElementById(history.state.active_nav_link_id).classList.remove('active','disable');
                document.getElementById(link_id).classList.add('active','disable');
                history.pushState({
                  ajax_content_link: ajax_path,
                  active_nav_link_id: link_id,
                  ajax_content_method: 'GET'
                  }, 
                  "", window_path
                );                
              });
            }
                      
            function init() {            
              console.log("init");
              maintaskbutton.addEventListener("click", maintaskcontrolbutton);  
              update_all.addEventListener("click", check_all_updates);
              update_none.addEventListener("click", uncheck_all_updates);                                  
              
              progressBar();

              history.replaceState({
                ajax_content_link: '{{ ajax_content_link }}',
                active_nav_link_id: '{{ active_nav_link_id }}',
                ajax_content_method: 'GET'
              }, "")           
              content_ajax_update_get(history.state.ajax_content_link);
              document.getElementById(history.state.active_nav_link_id).classList.add('active','disable');
                          
              register_ajax_navbar_link('dashboard_settings_link', '/dashboard/ajax/settings', "/dashboard/settings");
              register_ajax_navbar_link('dashboard_home_link', '/dashboard/ajax/dashboard_home', "/dashboard");

              // TODO: handle POST vs GET?
              // TODO: handle anchor links? and external links?
              window.addEventListener('popstate', (event) => {                
                if (event.state.ajax_content_link && event.state.ajax_content_method === "GET") {
                    content_ajax_update_get(event.state.ajax_content_link);
                    document.getElementById(history.state.active_nav_link_id).classList.remove('active','disable');
                    document.getElementById(event.state.ajax_content_link).classList.add('active','disable');                    
                };
              });

            };
          
            document.addEventListener("DOMContentLoaded", init);  
          </script>

        {% block codetail %}
        
        {% endblock codetail %}
    </body>
</html>